<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Attendance Table</title>
  </head>
  <body>
    <h1>Data Absensi</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Umur</th>
          <th>Tanggal Absensi</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.age }}</td>
          <td>{{ row.attendance_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
